


body.index{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.67) 0%, rgba(0, 0, 0, 0.67) 100%), url("../images/homepagemain.png"), lightgray 50% ;
    background-repeat: repeat-y;
    background-position: top;
    background-size: 100% auto;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-style: normal;
    font-size: small;
    margin: 0;
}

div.about {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.67) 0%, rgba(0, 0, 0, 0.67) 100%), url("../images/headerinterview.jpg"), lightgray 50% ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

body.other{
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-style: normal;
    font-size: small;
    margin: 0;
}

div.headerText{
    padding: 30px 0px 50px 0px;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
div.headerText>p{
    width: 35%;
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-content:space-between;
    justify-content: center;
    padding: 15px
}


/* REPORT PAGE FORM */

form{
    text-align: left;
    color: #1E1E1E;
    display: inline;
    padding: 30px 0 0 0;
}

.form-row{
  display: flex;
  margin: 50px 0;
}

form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 50px;
    position: relative;
  }

.textarea{
    height: 70px;
}


.input-data input, textarea, select{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid #FF4136;
}

textarea{
    resize: none;
    padding-top: 10px;
  }

.input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }   
  textarea label{
    width: 100%;
    bottom: 40px;
    background: #fff;
  }


.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #FF4136;
}
.input-data input:focus {
    outline: none;
}
.textarea textarea:focus {
    outline: none;
}

  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #FF4136;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }
  .submit-btn .input-data{
    overflow: hidden;
    height: 45px!important;
    width: 25%!important;
  }
  .submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #1E1E1E, #FF4136, #FF851B, #e845d5);
    transition: all 0.4s;
  }
  .submit-btn .input-data:hover .inner{
    left: 0;
  }
  .submit-btn .input-data input{
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  @media (max-width: 700px) {
    .container .text{
      font-size: 30px;
    }
    .container form{
      padding: 10px 0 0 0;
    }
    .container form .form-row{
      display: block;
    }
    form .form-row .input-data{
      margin: 35px 0!important;
    }
    .submit-btn .input-data{
      width: 10%!important;
    }
  }


/* input, textarea, select{
    border: none;
    border-bottom: 3px solid #FF4136;
    width: 25%;

} */



form>h2{
    color: #FF4136;
}
/* 
.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    border: none;
    border-bottom: 5px solid #FF4136;
    outline: none;
    padding: 5px;
    font-size: 16px;
}

.form-group label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #FF4136;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    transform: translateY(-25px);
    font-size: 12px;
    color: #999;
} */


/* REPORT PAGE FORM END */


/* REPORT A PAGE */
.section1>div.reportimg{
    background-image: url('../images/reportdiv1.png');
}
.section2>div.reportimg{
    background-image: url('../images/reportdiv2.png');
}
.section3>div.reportimg{
    background-image: url('../images/reportdiv3.png');
}
/* REPORT A PAGE END */

/* INCIDENT MAP  */
.section2>div.incidentimg{
    background-image: url('../images/incidentmapdiv2.png');
}
.section3>div.incidentimg{
    background-image: url('../images/incidentmapdiv3.png');
}
/* INCIDENT MAP END */

/* About section */
.section1>div.img{
    background-image: url('../images/aboutdiv1.jpg');
}
.section2>div.img{
    background-image: url('../images/aboutdiv2.png');
}
.section3>div.img{
    background-image: url('../images/aboutdiv3.png');
}
/* About Section End  */

div.bg-dark{
    background-color: #1E1E1E;
    width: 100%;
    color: #f5f5f5;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: right;
}

.bg-light>div#sectionText>p, .bg-light>div#sectionText>h2 {
    color: #1E1E1E;
    text-align: left;
}

section>div.img, section>div.reportimg, section>div.incidentimg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}


#sectionText{
    /* width: auto; */
    padding: 20px 30px;
}


a {
    color: inherit;
    text-decoration: none;
  }
  a:visited {
    color: inherit;
  }  
  a:hover {
    color: inherit;
    text-decoration: none;
  }  
  a:active {
    color: inherit;
  }
  

header{
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
}

button {
    padding: 0;
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
    outline: none;
  }  

span#logo{
    color: #FF851B;
}

header>ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav>ul>li{
    list-style: none;
    display: inline;
    padding: 10px 20px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 1s ease-in-out
}
nav>ul>#active{
    border-bottom: 3px solid #FF851B;
}
nav>ul>li:hover{
    border-bottom: 3px solid #FF851B;
}

header>button, .reportButton{
    background-color: #FF4136;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #f5f5f5;
    padding: 10px;
    border: none;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>div>h1#left-main{
    text-align: right;
    padding: 10px;
}
main>div>h1#right-main{
    color: #FF851B;
    text-align: left;
    padding: 10px;
}

main>div.theme-text {
    padding: 50px 0px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 900;
    flex-direction: row;
}

main>p {
    width: 40%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
}

main.main_buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
}

main.main_buttons>div {
    display: flex;
    justify-content: center;
}

div>button#hotline {
    border-radius: 10px;
    background: rgba(255, 64, 54, 0.81);
    padding: 10px 30px;
    font-size: medium;
    font-weight: 700;
    margin-right: 30px;
}
div>button#report {
    border-radius: 10px;
    background: rgba(255, 133, 27, 0.81);
    padding: 10px 30px;
    font-size: medium;
    font-weight: 700;
    margin-right: 60px;
    margin-bottom: 0px;
}
div#action_text {
    display: flex;
    justify-content: center;
}
#action_text>h4#Track{
    font-size: small;
    margin-right: 40px;
    margin-top: 10px;
}
#action_text>h4#Login{
    font-size: small;
    margin-right: 70px;
    margin-top: 10px;
}

.stats{
    display: flex;
    justify-content:space-evenly;
}

.stats>div>h1{
    margin-bottom: 0px;
    font-size: 2.5rem;
}
.stats>div>p{
    margin-top: 0px;
}
.stats>div{
    text-align: center;
    padding: 30px 70px 30px 
}

footer{
    box-sizing: border-box;
    padding: 20px 10%;
    border-top: 3px solid #FFF;
    background: #1E1E1E;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

footer>div>button{
    background-color: #FF851B;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #f5f5f5;
    padding: 10px;
    border: none;
}

.copyright{
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    color: #1E1E1E;
    text-align: center;
    background: #FFF;
}

.card {
    color: #1E1E1E;
    background-color: #F5F5F5;
    background: #F5F5F5;
    padding: 20px;
    margin: 20px;
    /* display: flex;
    height: 500px;
    flex-direction: column; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25%;
}

.card>img {
}

section>.page-content {
    display: flex;
}

.cardDetails {
}

.cardImg {
}


