


body{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.67) 0%, rgba(0, 0, 0, 0.67) 100%), url("../images/homepagemain.png"), lightgray 50% ;
    background-repeat: repeat-y;
    background-position: top;
    background-size: 100% auto;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-style: normal;
    font-size: small;
}


header{
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
}

span#logo{
    color: #FF851B;
}

header>ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav>ul>li{
    list-style: none;
    display: inline;
    padding: 10px 20px;
}
nav>ul>#active{
    border-bottom: 3px solid #FF851B;
}

header>button{
    background-color: #FF4136;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #f5f5f5;
    padding: 10px;
    border: none;
}

main{
    display: flex;
    flex-direction: column;
}

main>div>h1#left-main{
    text-align: right;
    padding: 10px;
}
main>div>h1#right-main{
    color: #FF851B;
    text-align: left;
    padding: 10px;
}

main>div.theme-text {
    padding: 50px 0px 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 800;
    flex-direction: row;
}

main>p {
    width: 30%;
    align-items: center;
    justify-content: center;
}